
<div ng-show="question.answer">
  <h4>Answer for {{ question.text }}</h4>
  <p> {{question.answer.answer}}</p>
  <p> User rating: {{question.answer.rating}}</p>

  <ul>
    <li ng-repeat= "item in question.answer.comments track by $index">
      {{ item }}
    </li>
  </ul>

  <form ng-show="question.answer.approved" ng-submit="addComment()">
    <input type="text" ng-model="commentInput" class="form-control" placeholder="Enter Comments" required>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>




  <form ng-hide="question.answer.approved" ng-submit="approveAnswer()" class="form-inline" role="form">
    Answer Score
    <select ng-model="ratingInput" required>
      <option value="">Please select</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <br>
    <button type="submit" class="btn btn-default">Approve Answer</button>
  </form>
  <form ng-hide="question.answer.approved" ng-submit="question.answer = ''" class="form-inline" role="form">
    <button type="submit" class="btn btn-default">Disapprove(try again)</button>
  </form>

</div>

<div ng-hide="question.answer">
  <h4>Add an answer to {{ question.text }}</h4>
  <form ng-submit="addAnswer()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="answerInput" class="form-control" placeholder="Enter Answer">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
